      html{
	  /* my addition */
	  /* background: linear-gradient(to right, yellow , black); */
	  /* background-image: radial-gradient(16px at 60px 50% , #000000 0%, #000000 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px); */
	  background-image: radial-gradient(farthest-corner at 45px 45px , #ffff32 0%, #000000 100%, rgba(0, 0, 0, 0) 19px);
      /*background-color:
      #99CCFF; */
      font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
      font-size: 10px;
      position: relative;
      }

      body{
      margin: 0;
      padding: 0;
      }

      a{
      color: #07f;
      text-decoration: none;
      }

      a:hover{
      text-decoration: underline;
      }

      #login{
      color: #000;
      background-color: #fff;
      margin: 100px auto 0;
      padding: 20px 20px 20px;
      position: relative;
      width: 550px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      }

          h1{
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 36px;
          text-align: center;
      line-height: 50px;
      margin: 0;
      padding: 0;
      }

      h2{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 24px;
          text-align: center;
      line-height: 30px;
      margin: 0;
      padding: 0;
      }

	  h5{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 10px;
	  color: #696969;
      text-align: right;
      line-height: 10px;
      margin: 0;
      padding: 0;

	  background-image: url("umbc_decal.jpg");
	  background-repeat: no-repeat;
	  background-position: right bottom;
	  background-attachment: fixed;
      }
	  
	  
      ul{
      margin: 8px 20px;
      padding: 0;
      }

      li{
      margin-top: 8px;
      }

      input[type="text"],input[type="email"], textarea {

		background-image:url(images/form_bg.jpg);
		background-repeat:repeat-x;
		border:1px solid #d1c7ac;
		width: 230px;
		color:#333333;
		padding:5px;
		margin-right:4px;
		margin-bottom:8px;
		font-family: "Candara", sans-serif;
		
        /*
		border: 1px solid #999;
        color: #444;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 16px;
        padding: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        width: 262px;
		*/
      }
	  
		/* input is diff */
          input[type=text]:disabled{
                  background-color: #DDDDDD;
          }

          select{
          font-size: 18px;
          font-family: "Candara", sans-serif;
          color: #444;
          position: relative;
          }

      .button {
        background-color: #768089;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        height: 25px;
        overflow: visible;
        padding: 0 12px;
        margin: 5px auto 0;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
        -moz-appearance: none;
        -moz-border-radius: 4px;
        -webkit-appearance: none;
        -webkit-border-radius: 4px;
        line-height: 25px;
      }

      .button:hover {
        background-color: #87929D;
        color: #fff;
        text-decoration: none;
      }

      a.button.large {
        line-height: 32px;
      }

	  /* 32 px not 64 px */
      .button.large {
        font-size: 16px;
        height: 32px;
        padding: 0 16px;
        position: center;
      }

      .button.go {
        background-color: #0a1106;
        color: #FFF;
      }

      .button.go:hover {
        background-color: #70B74E;
        color: #FFF;
      }

      .field{
      margin: 8px 0;
      }

      .field label{
      display: block;
      font-weight: bold;
      font-size: 14px;
      }

      .actions{
      text-align: right;
      }

      .bottom{
      border-top: 0px solid #ddd;
      padding-top: 12px;
      font-size: 11px;
      color: #666;
      }

      .top{
      border-bottom: 1px solid #eee;
      padding-bottom: 12px;
      }

      .actions{
      overflow: hidden;
      }

      .actions .secondary{
      float: left;
      font-size: 14px;
      line-height: 32px;
      text-align: left;
      }

      p{
      margin: 0;
      padding: 0;
      }

      .login-create{
      font-size: 16px;
      font-weight: normal;
      }
/* doesnt have last bit */